.App {
  border: 1px solid grey;
  margin: 50px 30px;
  padding: 50px;
  border-radius: 30px;
}

.to-do-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.to-do-container ul li {
  width: 170px;
  overflow-wrap: break-word;
  list-style-type: "✍️";
  cursor: pointer;
}
